{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" href="/static/css/details.css?ver=4.0">
        <!-- <link rel= "stylesheet" href="/static/css/landing.css?ver=2.0"> -->
        <link rel= "stylesheet" href="/static/css/indexmedia.css?ver=3.0">
        <link rel= "stylesheet" href="/static/css/swiper-bundle.min.css?ver=3.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Manrope:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" ></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <script src="/static/js/swiper-bundle.min.js"></script>
        <script src="/static/js/main.js?ver=1.0"></script>


        <title>RAH - Rapid Access Healthcare</title>
    </head>
</head>

<body style="width: auto;" >
    
    <a data-toggle="tooltip"data-placement="left" title="108" href="tel:108" class="floatcall">
        <img   src="/static/images/icons/Group 7117.png" alt="Contact" class="phone"  style="margin-top: 70px;">
       
    </a>
   
        
    <div class="mainnav">
        <div class="rahlogonav">
            <a href="/">
                <img onclick="change(foo, bar)" src="/static/images/icons/rahlogo.png" alt="RAH Logo" class="rahlogo">
            </a>
        </div>
        <div class="topnav" id="myTopnav">
           
            
            <a href="/search"  class="active"  >Hospitals</a>
            <a href="#">Consultance</a>
            <a href="#">Blood banks</a>
            <a href="#">Diagnostics</a>
            <a href="#">Ambulance</a>
            <a href="#" style="color: #FF5353;">Emergency</a>
            <!-- <a href="#home" class="active">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a> -->
        
        
        <div style="position: relative;float: right;">
        <a href="" class="search-icon"> <img src="/static/images/icons/searchlogo.png" alt="Menu Icon" ></a>
                    <a class="loginbtna" href="" style="   padding: 6px 30px;    "><img class="loginbtn" src="/static/images/icons/loginbutton.png" alt="Menu Icon" style="height: 48px;" ></a>      
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i></a>
            </div>
        </div>
        <!-- <img src="/static/images/icons/Group 7117.png" alt="Contact" class="phone"> -->


    <br>
{% for hospital in setshospitallist %}
        <div class="hospview">
        <div class="left">
            <img  class="hospbanner" src="/show/{{ hospital.logo }}" alt="">
        </div>

        <div class="right">
        <div class="hospname">
            <div class="top">{{hospital.hospital_type}}</div>
            <div class="title">{{hospital.hospital_name}}</div>
        </div>
        <div class="contact">
            <div class="dropdown">
                <button class="dropbtn">Contact us</button>
                <div class="dropdown-content">
                <a href="tel:{{hospital.contact_number}}">{{hospital.contact_number}}</a>
               <a href="#">{{hospital.hospital_email}}</a>
                <!-- <a href="#">Link 3</a> -->
                </div>
            </div>

        <a href="https://www.google.com/maps/dir/?api=1&destination={{hospital.address}}" class="direction">
        Get Directions
        </a>


</div>
<div class="facilities-menu">
    <div class="menus">
        <p>Indoor Pharmacy</p>
    </div>
    <div class="menus">
        <p>+ Beds</p>
    </div>
    <div class="menus">
        <p>Blood Banks</p>
    </div>

</div>
<div class="hospaddr">
    <p>{{hospital.address}}</p>
</div>


</div>


</div>



<br><br>

<div class="container" >

<div class="tabs hostabs" >
    <ul class="tabs-list">
       <li class="active"><a href="#tab1">Overview</a></li>
       <!-- <li ><a href="#tab2">About</a></li> -->
       <li ><a href="#tab2">Department</a></li>
       <li ><a href="#tab3">facilities</a></li>
       <li ><a href="#tab4">Gallery</a></li>
    </ul>
  
    <div id="tab1" class="tab active" style="width: 100%;">
        <h3>Contact</h3>
        <div class="row">
        <div class="col-md-6">
          <div class="label">E-mail : -</div> 
            <p>{{hospital.hospital_email}}</p>
            <div class="label">Phone : -</div> 
            <a href="tel:{{hospital.contact_number}}">{{hospital.contact_number}}</a>

        </div>
        <div class="col-md-6">
            <div class="label">Address : -</div> 
            <p>{{hospital.address}}</p>
            
        </div>
    </div>
    <h3>About</h3>
    <p>{{hospital.about}}</p>


</div>

<div id="tab2" class="tab" style="width: 100%;">
    <h3>Departments</h3>
    
    <div class="image-grid">
    {% for department in hospital.department %}
               <div class="card " style="font-weight: 700;">{{department}}</div> 

    {% endfor %} 

</div>
</div>



<div id="tab3" class="tab" style="width: 100%;">
    <h3>Facilities</h3>
    
    <div class="image-grid">
    {%  if facilities is iterable %}
        {% for facilty in hospital.facilities %}
        <div class="card cardwid" style="">
            <div  class="title">{{facilty.heading}}</div>
          <p>{{facilty.content}}</p>  
        </div>
        {% endfor %}
    {% else %}
    <div class="card" style="width: 47%;">
        <!-- <div  class="title">hospital.facilities</div> -->
      <p>{{hospital.facilities}}</p>  
    </div>
        {% endif %}     

</div>
</div>


<div id="tab4" class="tab" style="width: 100%;">
    <h3>Gallery</h3>
    
    <div class="image-grid">
    {%  if images is iterable %}
        {% for image in hospital.images %}
        <div class="card" style="width: 21%;">
            <img  class="card-img" src="/show/{{ image }}">
        </div>
        {% endfor %}
    {% else %}
    <div class="card" style="width: 47%;">
        <!-- <div  class="title">hospital.facilities</div> -->
        <img  class="card-img" src="/show/{{ hospital.images }}">
    </div>
        {% endif %}     
<!-- <div class="card" style="width: 47%;">
    <img  class="card-img" src="/show/{{ hospital.images }}">
        </div> -->


</div>
</div>


</div></div>


{% endfor %} 


<br><br><br>











<!-- Foooterrrrrrrr Start---------- -->




<div class="footerarea">

<div class="container-fluid" style="background-color: white;height: 105px;">
    
                    
<div class=" cardmedia card footercard" style="width: 374px;text-align: none;align-items: baseline;">
    <div class="footercardtext1">Emergency number</div>
    <div class="footer-card-phone">
        <img src="/static/images/icons/PhoneCall-footer.png" alt="call" >
        108
        <img src="/static/images/icons/Line.png" alt="call" >
        <img class="footercardlogo" src="/static/images/icons/footer-logo.png" alt="call" >
        
    </div>
    <div class="footercardtext2">Sweat is 99% water combined with a tiny amount of salt, proteins Sweat is 99% water combined...

    </div>
    <br><br>
    <div class="footer-card-mail">
    <img src="/static/images/icons/mail.png" alt="call" >
    rah1234@gmail.com
</div>


<!-- 
<div class="detail detail2">
    <div class="columns">

        <div class="column">
            <li><strong>Company</strong></li>
            <li>About Us</li>
            <li>Blog</li>
            <li>Contact us</li>
            <li>Pricing</li>
            <li>Testimonials</li>
        </div>



        <div class="column">
            <li><strong>Support</strong></li>
            <li>Help Center</li>
            <li>Terms of service</li>
            <li>Legal</li>
            <li>Privacy Policy</li>
            <li>Status</li>
        </div>

    </div>
</div> -->
     </div>

</div>

<div class="footerback">
<div class="container-fluid " style="background-color: #16292A;height: 401px; ">
</div></div>
</div>



<script type="text/javascript">
    $(document).ready(function(){
    
      $(".tabs-list li a").click(function(e){
         e.preventDefault();
      });
    
      $(".tabs-list li").click(function(){
         var tabid = $(this).find("a").attr("href");
         $(".tabs-list li,.tabs div.tab").removeClass("active");   // removing active class from tab
    
         $(".tab").hide();   // hiding open tab
         $(tabid).show();    // show tab
         $(this).addClass("active"); //  adding active class to clicked tab
    
      });
    
    });
    </script>


<script>

function myFunction() {
var x = document.getElementById("myTopnav");
if (x.className === "topnav" ) {
x.className += " responsive";
} else {
x.className = "topnav";
}
}
document.getElementById("second").onclick = function() {
var x = document.getElementById("submenu");
if(x.style.display === "none"){
document.getElementById("submenu").style.display = "block";

}
else{
document.getElementById("submenu").style.display = "none";

}
}
</script>





</body>
</html>